@import "./base.css";

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
}

main {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
